.ventana_modal_information {
    padding: 3em 3em;
    margin-right:0;
    background: #fff;
    color: #333;
    z-index:2001;
    overflow: auto;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.fondo_opaco_information{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    z-index:2000;
    opacity:.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}

