#progressbar .ui-progressbar-value {
        background-color: #FFFF99;
}

.ui-progressbar {
position: relative;
}
.progress-label {
position: absolute;
left: 50%;
top: 4px;
/*font-weight: bold;*/
text-shadow: 1px 1px 0 #fff;
}
