<!-- BEGIN: main -->
<!--html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../css/form.css" />
<link rel="stylesheet" type="text/css" href="../../../FDSoil/packs/jquery/jquery-ui-custom.css"/>
<link rel="stylesheet" type="text/css" href="css/pickList.css" />
<script src="../../../FDSoil/js/pickList.js" type="text/javascript"></script>
<script src="../../../FDSoil/js/tabla.js" type="text/javascript"></script>
<script src="../../../FDSoil/js/ajax.js" type="text/javascript"></script>
<script src="../../../FDSoil/js/effect.js" type="text/javascript"></script>
<script src="../../../FDSoil/js/numero.js" type="text/javascript"></script>
<script src="../../../FDSoil/packs/jquery/jquery.js" type="text/javascript" language="javascript"></script>
<script src="../../../FDSoil/packs/jquery/jquery-ui-custom.js" type="text/javascript" language="javascript"></script>
<script src="js/tabla.js" type="text/javascript"></script>
<script src="js/pickList.js" type="text/javascript"></script>
<script src="js/reqs.js" type="text/javascript"></script>
</head>
<body class="pickListBody" onload=''-->
 
<table class="mainTable">
    <thead class="tHeader">
	<th class='tHeaderDes'>Clasificación Industrial Internacional Uniforme</th>	
	<th class='tHeaderX' title="Cerrar" onclick="closePickList();">X</th>        
    </thead>	
</table> 
</table>
    <div id="id_div_arancel_seccion">                    
        <table id="id_arancel_seccion"  width="100%" border=0 class='tablaNivel0'> 
                <tbody title="Seleccione la Sección...">
                    <!-- BEGIN: nivel_0 --> 
		    <tr>
			<td>
			    <div id="{NIVEL_0_ID}" 
			 	onclick="llenarNivel(1,this);">
				<table>
					<tr>
						<td width='60px' align='center'>{NIVEL_0_COD}</td>
						<td>{NIVEL_O_DES}</td>
					</tr>
				</table>
			    </div>
			</td>
		    </tr>
                    <!-- END: nivel_0 -->
                </tbody>
            </table>
        </div>    
<input class="data"  type="hidden" name="abc" id="abc"  value="">
<!-- END: main -->
