<!-- BEGIN: main -->
<table class="mainTable">
    <thead class="tHeader">
    	<th class='tHeaderDes'>Cód-Celulares</th>	
	<th class='tHeaderX' title="Cerrar" onclick="closePickList();">X</th>        
    </thead>
</table> 
<div id="id_div_arancel_seccion"> 
        <table id="id_arancel_seccion"  width="100%" border=0 class='tablaNivel0' > 
                <tbody title="Seleccione...">
                    <!-- BEGIN: nivel_0 --> 
		    <tr>
			<td align="center">
			    <div id="{ID}" 
			 	onclick="selectCodAreaNac(this);" 
                                class='{CLASS_TR}'><table width="100%">
					<tr>
						<td align="center">{DESCRIPCION}</td>
					</tr>
				</table>
			    </div>
			</td>
		    </tr>
                    <!-- END: nivel_0 -->
                </tbody>
            </table>
</div>    
<input class="data"  type="hidden" name="abc" id="abc"  value="">
<!-- END: main -->
